.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: gray;
}
.App-footer a {
  color: gray;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: inherit;
  border: 1px solid lightgray;
  border-radius: 4px;
  color: lightgray;
  cursor: pointer;
  font-size: 1em;
  margin: 5px;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
